@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: hsla(240, 11%, 93%, 0.902);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box; 
  position: relative; 
  min-height: 100%;
}

.footer{
  margin-top: 5rem;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Times New Roman', sans-serif;
}
header{
  z-index: 30;
  top: 0;
}
.nav{  
  display: grid;
  grid-template-columns: 6fr 1fr;
  max-height: 100%;
  max-width: 100%;
}

.nav.behind-bg {
  z-index: 0; /* let background image sit above */
  background-color: #111;
}

.nav__menu-bar{
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
}
.nav__item{
  font-size: 2em;

  color: black;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 2em; 
  position: fixed;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.container-login{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "main"
    "footer";
  max-width: min(100%, 600px);
  max-height: 75%;
  row-gap: 30rem;
  margin-top: 3rem;
  background-color: hsla(240, 11%, 93%, 1);
}

.container-home{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "top"
    "middle"
    "bottom";
  width: 100%;
  height: 100%;
}

.container-contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "left right";
  gap: 5rem;
  max-width: 100%;
  max-height: 100%;
  margin-left: 2rem;
}

.container-about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "left right"
    "footer footer";
  column-gap: 5rem; 
}

.container-booking{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "left right";
  column-gap: 5rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.container-shop{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
  align-items: center; /* Center items vertically */
  justify-items: center; /* Center items horizontally */
}

.shop-item{
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 2rem; /* Rounded corners */
  padding: 3rem;
  text-align: center;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.shop-item:hover {
  transform: scale(1.05);/* Slightly enlarge on hover */
}

.shop-item-image {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  display: block /* Ensure no extra space below the image */;
}
/* .container-shop{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  gap: 1rem;
  padding: 1rem;
}

.shop-item{
  background-color: #f9f9f9;
  border: 1rem solid #ccc;
  border-radius: 2rem;  Rounded corners 
  padding: 3rem;
  text-align: center;
  transition: transform 0.2s;
}

.shop-item:hover {
  transform: scale(1.05); Slightly enlarge on hover 
} */

.center{
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 50%;
}

.horizontal-center{
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.container-services-header{
  margin-right: 5rem;
  margin-left: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 100%; /* Full width of the container */
    max-height: 100%;
    justify-items: stretch;
    margin-top: 1rem; /* Optional: adds some space above the grid */
}

.grid-item {
    border: 1px; /* Optional: adds a border for visibility */
    padding: 10px; /* Optional: adds padding inside each item */
    text-align: center; /* Centers text and button */
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
}

input {
    font-family: "Times New Roman", sans-serif;
    font-size: 2rem;
    color: #000;
    background-color: #fff;
        
      :-webkit-autofill {
        font-family: "Times New Roman", sans-serif !important;
        font-size: 2rem !important;
        color: #000 !important;
      }
      :-webkit-autofill::first-line {
        font-family: "Times New Roman", sans-serif !important;
        font-size: 2rem !important;
        color: #000 !important;
      }
      
    :-webkit-autofill::first-line {
      font-family: "Times New Roman", sans-serif;
      font-size: 2rem;
    }
}

   .cart-icon {
       position: fixed;
       top: 20px;
       right: 20px;
       background-color: #fff;
       border: 1px solid #ccc;
       border-radius: 5px;
       padding: 10px;
       cursor: pointer;
       z-index: 1000;
   }

   .cart-modal {
       position: fixed;
       top: 0;
       right: 0;
       width: 30%;
       height: 100%;
       background-color: #f9f9f9;
       border-left: 1px solid #ccc;
       z-index: 999;
       padding: 20px;
       overflow-y: auto;
   }

   

.main-content {
    transition: margin-left 0.3s ease;
}

.main-content.shifted {
    margin-left: 300px; /* Shift main content to the left */
}

   .cart-modal button {
       background-color: #ff6347;
       color: white;
       border: none;
       padding: 10px;
       cursor: pointer;
   }

   .cart-modal button:hover {
       background-color: #ff4500;
   }

  /* .cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; Full width 
    height: 100%; Full height 
    background-color: rgba(0, 0, 0, 0.8);  Semi-transparent background 
    color: white; Text color 
    z-index: 999; Ensure it’s on top
    padding: 20px;
    overflow-y: auto; Allow scrolling if content overflows
    display: flex;
    flex-direction: column;
    align-items: center; Center content
    justify-content: flex-start; Align items to the top 
}*/

.close-button {
    background-color: #ff6347; /* Button color */
    color: white; /* Text color */
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute; /* Positioning the close button */
    top: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .cart-modal {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .close-button {
        padding: 8px; /* Smaller button on mobile */
    }
}
   
   @media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
    position: fixed;
  }
  
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 2rem;
    align-items: right;
  }

  .nav__link::before{
    content: '';
    position: fixed;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}
/* Layout */
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  padding: 48px;
  align-content: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
}
.sr-header {
  margin-bottom: 32px;
}
.sr-payment-summary {
  margin-bottom: 20px;
}
.sr-main,
.sr-content {
  display: flex;
  justify-content: center;
  height: 100%;
  align-self: center;
}
.sr-main {
  width: var(--form-width);
}
.sr-content {
  padding-left: 48px;
}
.sr-header__logo {
  background-image: var(--logo-image);
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.sr-legal-text {
  color: var(--gray-light);
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
.sr-field-error {
  color: var(--accent-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

/* Form */
.sr-form-row {
  margin: 16px 0;
}
label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

/* Inputs */
.sr-input,
.sr-select,
input[type='text'],
input[type='number'] {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: #32325d;
}
.sr-input:focus,
input[type='text']:focus,
button:focus,
.focused {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}
.sr-input::placeholder,
input[type='text']::placeholder,
input[type='number']::placeholder {
  color: var(--gray-light);
}

/* Checkbox */
.sr-checkbox-label {
  position: relative;
  cursor: pointer;
}

.sr-checkbox-label input {
  opacity: 0;
  margin-right: 6px;
}

.sr-checkbox-label .sr-checkbox-check {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 1px solid var(--gray-border);
  border-radius: 4px;
  transition: all 0.2s ease;
}

.sr-checkbox-label input:focus ~ .sr-checkbox-check {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
}

.sr-checkbox-label input:checked ~ .sr-checkbox-check {
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: -1px -1px;
}

/* Select */
.sr-select {
  display: block;
  height: 44px;
  margin: 0;
  background-repeat: no-repeat, repeat;
  background-position: right 12px top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.sr-select::-ms-expand {
  display: none;
}
.sr-select:hover {
  cursor: pointer;
}
.sr-select:focus {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
}
.sr-select option {
  font-weight: 400;
}
.sr-select:invalid {
  color: var(--gray-light);
}

/* Combo inputs */
.sr-combo-inputs {
  display: flex;
  flex-direction: column;
}
.sr-combo-inputs input,
.sr-combo-inputs .sr-select {
  border-radius: 0;
  border-bottom: 0;
}
.sr-combo-inputs > input:first-child,
.sr-combo-inputs > .sr-select:first-child {
  border-radius: var(--radius) var(--radius) 0 0;
}
.sr-combo-inputs > input:last-child,
.sr-combo-inputs > .sr-select:last-child {
  border-radius: 0 0 var(--radius) var(--radius);
  border-bottom: 1px solid var(--gray-border);
}
.sr-combo-inputs > .sr-combo-inputs-row:last-child input:first-child {
  border-radius: 0 0 0 var(--radius);
  border-bottom: 1px solid var(--gray-border);
}
.sr-combo-inputs > .sr-combo-inputs-row:last-child input:last-child {
  border-radius: 0 0 var(--radius) 0;
  border-bottom: 1px solid var(--gray-border);
}
.sr-combo-inputs > .sr-combo-inputs-row:first-child input:first-child {
  border-radius: var(--radius) 0 0 0;
}
.sr-combo-inputs > .sr-combo-inputs-row:first-child input:last-child {
  border-radius: 0 var(--radius) 0 0;
}
.sr-combo-inputs > .sr-combo-inputs-row:first-child input:only-child {
  border-radius: var(--radius) var(--radius) 0 0;
}
.sr-combo-inputs-row {
  width: 100%;
  display: flex;
}

.sr-combo-inputs-row > input {
  width: 100%;
  border-radius: 0;
}

.sr-combo-inputs-row > input:first-child:not(:only-child) {
  border-right: 0;
}

.sr-combo-inputs-row:not(:first-of-type) .sr-input {
  border-radius: 0 0 var(--radius) var(--radius);
}